@use '@styles' as *;

.navbar {
	flex: 1 1 0;

	&__list {
		list-style: none;
		gap: 0 0.5rem;

		@include flex-position(row, center, center);
	}

	&__item {
		padding: 0.6rem 1.2rem;
		border-radius: 6px;
		text-decoration: none;
		color: var(--main-text-color);

		&.active {
			background-color: var(--navbar-link-bg);
		}

		@include hover {
			background-color: var(--navbar-link-bg);
		}
	}
}