@use '@styles/' as *;

.sign-in {
	@include flex-position(column, center, center);
	min-height: calc(100vh - 11rem);
	gap: 1rem;

	h2 {
		font-size: 2rem;
		color: $indigo-700;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
	}
}
