@use '@styles/' as *;

.sign-in {
	@include flexPosition(column, center, center);
	gap: 1rem;
	min-height: calc(100vh - 75px - 5rem);

	h2 {
		font-size: 2rem;
		color: $indigo-700;
		text-transform: uppercase;
		text-align: center;
	}
}
