@use '@/styles' as *;

.table {
	border-collapse: separate;
	border-spacing: 0;
	border: none;
	width: 100%;

	&__header-row {
		text-transform: uppercase;
		text-align: left;
		background-color: var(--table-header-bg);
	}

	&__header-cell {
		padding: 1.4rem 2rem;
		font-weight: 600;
	}

	&__cell,
	&__header-cell {
		max-width: 15rem;
		padding: 1rem 2rem;
		color: var(--main-text-color);

		&:first-child {
			border-radius: 10px 0 0 10px;
		}

		&:last-child {
			border-radius: 0 10px 10px 0;
		}
	}

	&__row {
		@include hover {
			background-color: var(--table-row-hover);
		}
	}
}
