@use '@/styles' as *;

.pagination {
	gap: 1rem;

	@include flexPosition(row, center, center);

	&__page-btn {
		background: none !important;
		width: 2.4rem;
		aspect-ratio: 1;
		padding: 0 !important;

		&.active {
			background-color: $indigo-700 !important;
			color: $gray-200;
		}

		@include hover {
			background-color: $indigo-700 !important;
			color: $gray-200;
		}
	}
}
