//INDIGO
$indigo-100: #dbe4ff;
$indigo-200: #bac8ff;
$indigo-300: #91a7ff;
$indigo-400: #748ffc;
$indigo-500: #5c7cfa;
$indigo-600: #4c6ef5;
$indigo-700: #4263eb;
$indigo-800: #3b5bdb;
$indigo-900: #364fc7;

//DARK
$dark-100: #b8b8b8;
$dark-200: #828282;
$dark-300: #696969;
$dark-400: #424242;
$dark-500: #3b3b3b;
$dark-600: #2e2e2e;
$dark-700: #242424;
$dark-800: #1f1f1f;
$dark-900: #141414;

//GRAY
$gray-100: #f8f9fa;
$gray-200: #f1f3f5;
$gray-300: #e9ecef;
$gray-400: #dee2e6;
$gray-500: #ced4da;
$gray-600: #adb5bd;
$gray-700: #868e96;
$gray-800: #495057;
$gray-900: #343a40;

//WHITE
$white-100: #ffffff;

//RED
$red-900: #c92a2a;

//GREEN
$green-900: #2b8a3e;

//YELLOW
$yellow-500: #fcc419;
$yellow-800: #f08c00;
