@use '@styles/' as *;

.form {
	padding: 1rem;
	max-width: 300rem;
	border-radius: 10px;
	background-color: var(--form-bg);

	@include flex-position(column, center, center);

	&__row {
		gap: 0.5rem;

		@include flex-position(column, center, flex-start);
	}
}
