@use '@/styles' as *;

.search {
    position: relative;

    input {
        background-color: var(--search-bg);
        min-width: 20rem;
        padding: 0.7rem 3rem 0.7rem 1rem;
        color: var(--main-text-color);
        border-radius: 5px;

        &::placeholder {
            color: var(--search-placeholder-color);
        }
    }

    &__icon {
        position: absolute;
        left: 1rem;
        top: 50%;
        color: var(--search-placeholder-color);
        transform: translateY(-50%); 
        display: flex;
    }

    &__clear {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        right: 1rem;
        display: flex;
        color: var(--main-text-color);
    }

    &__tip {
        font-size: 0.7rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        background-color: var(--main-bg);
        padding: 0.3rem 0.5rem;
        color: var(--main-text-color);
        border-radius: 5px;
    }
}