@use '@styles/' as *;

.button {
	border: none;
	outline: none;
	cursor: pointer;
	position: relative;
	background: none;
	border-radius: 5px;
	gap: 1rem;

	&:disabled,
	.loading {
		cursor: default;
	}

	@include flex-position(row, center, center);
}

.small {
	font-size: 1rem;
	padding: calc(0.6rem - 2px) calc(1.2rem - 2px);
	font-weight: 400;
}

.medium {
	font-size: 1.2rem;
	padding: calc(0.8rem - 2px) calc(1.6rem - 2px);
	font-weight: 500;
}

.large {
	font-size: 1.4rem;
	padding: calc(1rem - 2px) calc(2rem - 2px);
	font-weight: 600;
}

.base {
	background-color: var(--base-btn-bg);
	color: var(--main-text-color);

	@include hover {
		background-color: var(--base-btn-hover);
	}
}

.primary {
	background-color: var(--accent);
	color: var(--white);
	border: 2px solid transparent;

	@include hover {
		background-color: var(--accent-hover);
	}
}

.secondary {
	border: 2px solid var(--accent);
	color: var(--accent);

	@include hover {
		background-color: var(--accent);
		color: var(--white);
	}
}

.button:disabled,
.loading {
	background-color: var(--disabled-btn-bg);
	color: var(--disabled-btn-text-color);
}