@use '@styles' as *;

.header {
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 1.5rem 0;
	z-index: 1000;
	position: sticky;
	max-height: 6rem;
	border-color: var(--border-color);
	background-color: var(--main-bg);
	top: 0;

	&__content {
		display: grid;
		grid-template-columns: 1.5fr 3fr 1.5fr;
		align-items: center;
		gap: 3rem;
	}

	&__logo {
		margin-right: auto;
	}

	&__btns {
		@include flex-position(row, center, center);
		gap: 1rem;
	}

	&__theme-btn {
		width: 2.6rem;
		aspect-ratio: 1/1;
		padding: 0;
		margin-left: auto;
		margin-right: 1rem;

		svg {
			width: 1.3rem;
			height: 1.3rem;
		}
	}

	&__user {
		@include flex-position(row, center, center);
		gap: 1rem;
	}
}

.user {
	&__data {
		& h2 {
			font-size: 0.9rem;
			padding: 0;
			font-weight: 500;
			color: var(--main-text-color);
		}
		& span {
			font-size: 0.7rem;
			color: var(--secondary-text-color);
		}
	}

	&__trigger {
		@include flex-position(row, center, center);
		gap: 1rem;
	}
}

.logout-btn {
	@include hover {
		button {
			background-color: var(--red);
			color: var(--white);
		}
	}
}
