@use '@/styles' as *;

.toolbar {
	display: flex;

	&__list {
		@include flex-position(row, flex-start, center);
		padding: 0.5rem;
		gap: 1rem;
		border-radius: 10px;
		background-color: var(--toolbar-bg);
	}

	&__item {
		overflow: hidden;
		border-radius: 5px;
		list-style: none;

		button {
			padding: 0.5rem 1rem;
			font-size: 1rem;
			cursor: pointer;
			background: none;
			color: var(--main-text-color);

			@include hover {
				background-color: var(--toolbar-btn-active-bg);
			}
		}
	}
}

.active {
	background-color: var(--toolbar-btn-active-bg);
}

