@use '@/styles' as *;

.toolbar {
	display: flex;

	&__list {
		@include flexPosition(row, flex-start, center);
		padding: 0.5rem;
		gap: 1rem;
		border-radius: 5px;
	}

	&__item {
		list-style: none;

		button {
			padding: 0.5rem 1rem;
			border-radius: 5px;
			font-size: 1rem;
			cursor: pointer;
			background: none;
		}
	}
}

.light {
	.toolbar {
		&__list {
			background-color: $gray-200;
		}

		&__item {
			button {
				color: $dark-600;

				@include hover {
					background-color: $white-100;
				}
			}

			&_active {
				button {
					background-color: $white-100;
				}
			}
		}
	}
}

.dark {
	.toolbar {
		&__list {
			background-color: $dark-600;
		}

		&__item {
			button {
				color: $gray-200;

				@include hover {
					background-color: $dark-400;
				}
			}

			&_active {
				button {
					background-color: $dark-400;
				}
			}
		}
	}
}
