@use '@styles/' as *;

.input {
	&__content {
		position: relative;
	}

	input {
		font-size: 1rem;
		padding: 0.7rem 1rem;
		max-width: 30rem;
		min-width: 25rem;
		border-radius: 4px;
		outline: none;
		transition: border-color 0.2s ease;
		border-width: 2px;
		border-color: transparent;

		&:focus {
			border-color: $indigo-700;
			outline: none;
		}
	}

	label {
		position: absolute;
		top: 50%;
		left: 0.8rem;
		font-size: 1rem;
		transform: translateY(-50%);
		pointer-events: none;
		transition: top 0.2s ease, border-color 0.2s ease, font-size 0.2s ease;
		padding: 0.05rem 0.5rem;
		border-radius: 4px;
		border-width: 2px;
		border-color: transparent;
		border-style: solid;
		color: $dark-600;
		gap: 0.5rem;

		@include flexPosition(row, center, center);
	}

	&__toggle-container {
		position: relative;
	}

	&__btn {
		position: absolute;
		top: 50%;
		right: 0.8rem;
		transform: translateY(-50%);
		color: $dark-600;
		background: none;
		outline: none;
		border: none;
		cursor: pointer;

		@include flexPosition(row, center, center);
	}

	.filled ~ label,
	input:focus ~ label {
		top: -5px;
		font-size: 0.8rem;
		background-color: $white-100;
		border-color: $indigo-700;
		color: $indigo-700;
	}

	input[type='date'] {
		border: 2px solid $indigo-700;
	}
}
