@use '@/styles' as *;

.orders {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	&__heading {
		h1 {
			text-transform: uppercase;
		}
	}
}

.light {
	h1 {
		color: $dark-600;
	}
}

.dark {
	h1 {
		color: $gray-200;
	}
}
